# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Ignora todos los paquetes de Android (bundles y APKs)
*.aab
*.apk

# Ignora la carpeta de compilación completa

app/build/
